img.imgLeft {
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

img.imgRight {
    float: right;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

img.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}