img.imgLeft {
    float: left;
    margin-right: 3rem;
}

img.imgRight {
    float: right;
    margin-right: 3rem;
}

img.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}