.search_by_category {
    
font-size: 2.4rem;
padding: 2rem;
}

.smth {
    color: white;
}

.list_in_sidebar {
    list-style-type: none;
    padding: 0 2rem 2rem 2rem;
}

.sidebar {
    margin-top: 20%;
    max-width: $grid-width;

    // we select everything except the last child
    &:not(:last-child) {
        margin-bottom: $row-margin;
    }

    @include clearfix;

    /* this is the attribute selector. We select all the 
    elements with the attribute class="col". With ^ we mean 
    all the class atributes starts with: col-... */
    [class^="col-"] {
        //background-color: rosybrown;
        float: left;

        &:not(:last-child) {
            margin-right: $col-margin;
        }
    }

    // the numbers in the cols are percentages: 50% etc
    // $grid-width - $col-margin = the width of .col-50
    .col-50 {
        // 100% of the width
        // in order to use a variable in the calc function you have to wrap it in hash + curly brackets
        width: calc((100% - #{$col-margin}) / 2 );     
    }

    .col-100 {
        width: 100%;
    }

    .col-33 {
        width: calc((100% - 2 * #{$col-margin}) / 3 );
    }

    .col-25 {
        width: calc((100% - 3 * #{$col-margin}) / 4 );
    }

    .col-66 {
        width: calc( 2 * ((100% - 2 * #{$col-margin}) / 3 ) + #{$col-margin});
        background-color:  #f8f2ec;
        border-radius: .2rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);        
    }

    .col-75 {
        width: calc( 3 * ((100% - 3 * #{$col-margin}) / 4 ) + 2 *  #{$col-margin});
    }
}

