.logoColor {
    color: $logo-color;
}


// LINKS
a:link {
    color: $logo-color;
}

a:visited {
    color: $logo-color;
}

a:hover {
    color:  #b38f00;
}

// NOTE
.note {
    background-color:  $note-color;
    font-size: 1.4rem;    
    margin: 1rem;
    padding: 1rem;
}

.Note {
    font-weight: 700;
}

.quote {
    background-color:  $note-color;
    font-size: 1.8rem;
    font-style: italic;
    border-left: 4px solid $navigation_active-color;
    padding: 1rem;
    margin: 1rem;
}

.quotes {
    font-size: 1.69rem;
    font-style: italic;
    font-weight: 550;
}

.bold {
    font-weight: 800;
}

.bigger {
    font-size: 1.8rem;
    font-weight: 550;
}

.underline {
    text-decoration: underline;
}


