/* this mixin is the clearfix hack. We are using it because in 
the grid system the row height cpllapses and becomes 0 because 
all the elements inside of it are floated. So to fix that we are 
using this hack 
What this clearfix is doing is to append a pseudoelement after 
the element(row in the grid case) which will clear these floats.*/
/*

0 - 435px *** phone --> XXS (435/16 = 27.18em)
0 - 600px *** phone --> XS  (600/16 = 37.5em)
601 - 900px *** tablet portrait --> S (56.25em)
901px - 1200px *** tablet landscape --> M (75em)
1201px - 1800px *** normal styles --> L (112.5em)
1801px + *** big desktop --> XL ()

*/
/*
$grid-width: 114rem;
$row-margin: 8rem;
$col-margin: 6rem;*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* 1rem = 10px, this makes it easier to divide all pixels with 10 that's why we're using it
If we want to change the size of the website we just need to change the pixels in the html tag and all the rems of the website will scale accordingly.
We changed the pixels to percentage so that the user will be able to change the default size. 100% is 16 pixels according to the default and 62.5% = 10/16, so 10 pixels translates to 62.5% */
html {
  /* font-size: 10px; */
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 70%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 80%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: .7rem;
  /* we dont want any margins or paddings on any element that are applied by default by the browsers */
  /* the margins and the paddings are not added to the total width and height that is specified for a box */
  box-sizing: border-box; }

h1 {
  font-size: 4.5rem;
  padding-left: 1.5rem; }

/*
font-family: 'Raleway', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Mallanna', sans-serif;
font-family: 'Mandali', sans-serif;
font-family: 'Spirax', cursive;
font-family: 'PT Sans Caption', sans-serif;
*/
h2 {
  font-size: 3.7rem;
  margin-top: 8%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h3 {
  font-size: 3.0rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h4 {
  font-size: 2.7rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h5 {
  font-size: 2.4rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h6 {
  font-size: 2rem; }

h7 {
  font-size: 1.8rem; }

p {
  font-size: 1.6rem;
  padding-bottom: 1.6rem; }

ul li {
  font-size: 1.6rem; }

/* 
font-family: 'Caveat', cursive;
font-family: 'Miss Fajardose', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Sunshiney', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Butterfly Kids', cursive;
*/
img.imgLeft {
  width: 40%;
  height: auto;
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem; }
  @media (max-width: 27.18em) {
    img.imgLeft {
      width: 100%; } }

img.imgRight {
  width: 40%;
  height: auto;
  float: right;
  margin-left: 2rem;
  margin-bottom: 1rem; }
  @media (max-width: 27.18em) {
    img.imgRight {
      width: 100%; } }

img.imgcenter {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; }

/*.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigation li {
    float: left;
    border-bottom: 1px solid $menu-lines;
    margin-right: 1rem;
}

.navigation li a {
    display: block;
    font-size: 1.4rem;
    color: $grey;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    transition: transform .3s; 
}


.navigation li a:hover:not(.active) {
    transform: translateY(-0.2rem) scale(1.1);
}

.navigation .active {
    color: $navigation_active-color;
    //border-bottom: 1px solid $navigation_active-color;    
}


.navigation__dropdown {
    float: left;
    overflow: hidden;

    .navigation__dropdown-link {
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0;

        &-dropdownContent {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        &-dropdownContent a {
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            text-align: left;
        }

    }

    &:hover &-link-dropdownContent {
        display: block;
    }
}




.navigation li a.tooltip {
    position: relative;
    display: inline-block;
}

.navigation li a .tooltiptext {
    //visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: .2rem;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 95%;
}

.navigation li a.tooltip:hover .navigation li a.tooltiptext {
    visibility: visible;
}

*/
.navigation {
  max-width: 100%;
  margin: 0 auto; }
  .navigation::after {
    /* we have to specify the content property otherwise the 
        pseudoelement will not appear on the page. And we want it
        empty because we don't want to see this element. */
    content: "";
    display: table;
    clear: both; }

ul#navMenu {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px; }

ul#navMenu ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0px;
  margin: 0px; }

ul#navMenu li {
  display: inline;
  float: left;
  position: relative;
  border-bottom: 1px solid #bbb;
  margin-right: 1rem; }

ul#navMenu a {
  font-size: 1.4rem;
  color: #777;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  float: left;
  transition: transform .3s; }

ul#navMenu a:hover:not(.active) {
  transform: translateY(-0.2rem) scale(1.1); }

ul#navMenu a.active {
  color: #ff9900; }

ul#navMenu li:hover ul {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 30rem; }

ul#navMenu ul a {
  min-width: 30rem;
  text-transform: capitalize; }

ul#navMenu ul.third a {
  color: #a6a6a6; }

ul#navMenu ul li {
  display: block;
  margin: 0px; }

ul#navMenu ul ul {
  top: 0;
  left: 100%; }

ul#navMenu li:hover ul ul {
  display: none; }

ul#navMenu ul li:hover ul {
  display: block; }

.search_by_category {
  font-size: 2.4rem;
  padding: 2rem; }

.smth {
  color: white; }

.list_in_sidebar {
  list-style-type: none;
  padding: 0 2rem 2rem 2rem; }

.sidebar {
  margin-top: 20%;
  max-width: 140rem;
  /* this is the attribute selector. We select all the 
    elements with the attribute class="col". With ^ we mean 
    all the class atributes starts with: col-... */ }
  .sidebar:not(:last-child) {
    margin-bottom: 5rem; }
  .sidebar::after {
    /* we have to specify the content property otherwise the 
        pseudoelement will not appear on the page. And we want it
        empty because we don't want to see this element. */
    content: "";
    display: table;
    clear: both; }
  .sidebar [class^="col-"] {
    float: left; }
    .sidebar [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .sidebar .col-50 {
    width: calc((100% - 2rem) / 2); }
  .sidebar .col-100 {
    width: 100%; }
  .sidebar .col-33 {
    width: calc((100% - 2 * 2rem) / 3); }
  .sidebar .col-25 {
    width: calc((100% - 3 * 2rem) / 4); }
  .sidebar .col-66 {
    width: calc( 2 * ((100% - 2 * 2rem) / 3 ) + 2rem);
    background-color: #f8f2ec;
    border-radius: .2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .sidebar .col-75 {
    width: calc( 3 * ((100% - 3 * 2rem) / 4 ) + 2 *  2rem); }

.logoColor {
  color: #e6b800; }

a:link {
  color: #e6b800; }

a:visited {
  color: #e6b800; }

a:hover {
  color: #b38f00; }

.note {
  background-color: #fff0b3;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 1rem; }

.Note {
  font-weight: 700; }

.quote {
  background-color: #fff0b3;
  font-size: 1.8rem;
  font-style: italic;
  border-left: 4px solid #ff9900;
  padding: 1rem;
  margin: 1rem; }

.quotes {
  font-size: 1.69rem;
  font-style: italic;
  font-weight: 550; }

.bold {
  font-weight: 800; }

.bigger {
  font-size: 1.8rem;
  font-weight: 550; }

.underline {
  text-decoration: underline; }

.row {
  max-width: 140rem;
  margin: 0 auto;
  /* this is the attribute selector. We select all the 
    elements with the attribute class="col". With ^ we mean 
    all the class atributes starts with: col-... */ }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    /* we have to specify the content property otherwise the 
        pseudoelement will not appear on the page. And we want it
        empty because we don't want to see this element. */
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-50 {
    width: calc((100% - 2rem) / 2); }
  .row .col-100 {
    width: 100%; }
  .row .col-33 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-25 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-66 {
    width: calc( 2 * ((100% - 2 * 2rem) / 3 ) + 2rem); }
    @media (max-width: 56.25em) {
      .row .col-66 {
        width: 100%; } }
  .row .col-75 {
    width: calc( 3 * ((100% - 3 * 2rem) / 4 ) + 2 *  2rem); }

.header {
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.747)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  font-family: 'Sacramento', cursive;
  color: #e6b800;
  font-family: 'Miss Fajardose', cursive;
  font-family: 'Raleway', sans-serif; }
