/* this mixin is the clearfix hack. We are using it because in 
the grid system the row height cpllapses and becomes 0 because 
all the elements inside of it are floated. So to fix that we are 
using this hack 
What this clearfix is doing is to append a pseudoelement after 
the element(row in the grid case) which will clear these floats.*/
/*
$grid-width: 114rem;
$row-margin: 8rem;
$col-margin: 6rem;*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* 1rem = 10px, this makes it easier to divide all pixels with 10 that's why we're using it
If we want to change the size of the website we just need to change the pixels in the html tag and all the rems of the website will scale accordingly.
We changed the pixels to percentage so that the user will be able to change the default size. 100% is 16 pixels according to the default and 62.5% = 10/16, so 10 pixels translates to 62.5% */
html {
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: .7rem;
  /* we dont want any margins or paddings on any element that are applied by default by the browsers */
  /* the margins and the paddings are not added to the total width and height that is specified for a box */
  box-sizing: border-box; }

h1 {
  font-size: 6rem;
  padding-left: 1rem; }

/*
font-family: 'Raleway', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Mallanna', sans-serif;
font-family: 'Mandali', sans-serif;
font-family: 'Spirax', cursive;
font-family: 'PT Sans Caption', sans-serif;
*/
h2 {
  font-size: 3.7rem;
  margin-top: 5%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h3 {
  font-size: 3.0rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h4 {
  font-size: 2.7rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h5 {
  font-size: 2.4rem;
  margin-top: 3%;
  margin-bottom: 1%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 100; }

h6 {
  font-size: 2rem; }

h7 {
  font-size: 1.8rem; }

p {
  font-size: 1.6rem;
  padding-bottom: 1.6rem; }

ul li {
  font-size: 1.6rem; }

/* 
font-family: 'Caveat', cursive;
font-family: 'Miss Fajardose', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Sunshiney', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Butterfly Kids', cursive;
*/
img.imgLeft {
  float: left;
  margin-right: 3rem; }

img.imgRight {
  float: right;
  margin-right: 3rem; }

img.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px; }

.navigation li {
  float: left;
  border-bottom: 1px solid #bbb;
  margin-right: 1rem; }
  .navigation li navigation__dropdown {
    display: inline-block; }

.navigation li a {
  display: block;
  font-size: 1.4rem;
  color: #777;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  transition: transform .3s; }

.navigation li a:hover:not(.active) {
  transform: translateY(-0.2rem) scale(1.1); }

.navigation .active {
  color: #ff9900;
  border-bottom: 1px solid #ff9900; }

.logoColor {
  color: #e6b800; }

a:link {
  color: #e6b800; }

a:visited {
  color: #e6b800; }

a:hover {
  color: #b38f00; }

.note {
  background-color: #fff0b3;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 1rem; }

.Note {
  font-weight: 700; }

.quote {
  background-color: #fff0b3;
  font-size: 1.8rem;
  font-style: italic;
  border-left: 4px solid #ff9900;
  padding: 1rem;
  margin: 1rem; }

.quotes {
  font-size: 1.69rem;
  font-style: italic;
  font-weight: 550; }

.bold {
  font-weight: 800; }

.bigger {
  font-size: 1.8rem;
  font-weight: 550; }

.underline {
  text-decoration: underline; }

.row {
  max-width: 87%;
  margin: 0 auto;
  /* this is the attribute selector. We select all the 
    elements with the attribute class="col". With ^ we mean 
    all the class atributes starts with: col-... */ }
  .row:not(:last-child) {
    margin-bottom: 5%; }
  .row::after {
    /* we have to specify the content property otherwise the 
        pseudoelement will not appear on the page. And we want it
        empty because we don't want to see this element. */
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2%; }
  .row .col-50 {
    width: calc((100% - 2%) / 2); }
  .row .col-100 {
    width: 100%; }
  .row .col-33 {
    width: calc((100% - 2 * 2%) / 3); }
  .row .col-25 {
    width: calc((100% - 3 * 2%) / 4); }
  .row .col-66 {
    width: calc( 2 * ((100% - 2 * 2%) / 3 ) + 2%); }
  .row .col-75 {
    width: calc( 3 * ((100% - 3 * 2%) / 4 ) + 2 *  2%); }

.header {
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.747)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  font-family: 'Sacramento', cursive;
  color: #e6b800;
  font-size: 5.5rem; }
