.header {
    height: 50vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.747)), url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Sacramento', cursive;
    color: $logo-color;
    // the font-size is declaired in the h1 element


    font-family: 'Miss Fajardose', cursive;

    font-family: 'Raleway', sans-serif;
    //font-family: 'Mallanna', sans-serif;
    //font-family: 'Spirax', cursive;
    //font-family: 'PT Sans Caption', sans-serif;
}