// COLORS

$grey: #777;
$light-grey: #a6a6a6;
$logo-color: #e6b800;
$menu-lines: #bbb;
$navigation_active-color: #ff9900;
$note-color: #fff0b3;


// GRID SYSTEM
/*
$grid-width: 114rem;
$row-margin: 8rem;
$col-margin: 6rem;*/

$grid-width: 140rem;
$row-margin: 5rem;
$col-margin: 2rem;
