// COLORS

$grey: #777;
$logo-color: #e6b800;
$menu-lines: #bbb;
$navigation_active-color: #ff9900;
$note-color: #fff0b3;


// GRID SYSTEM
/*
$grid-width: 114rem;
$row-margin: 8rem;
$col-margin: 6rem;*/

$grid-width: 87%;
$row-margin: 5%;
$col-margin: 2%;
